{% extends '_base.html' %}

{% load static %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<section class="detail">
    <h2 class="detail__title"><strong class="detail__welcome">Welcome to</strong>{{ object.title }} blog!</h2>
    <div class="detail__intro">
        <p class="detail__intro-desc">{{ object.description }}</p>
        <div class="detail__intro-info">
            <img class="detail__intro-logo" src="{{ object.creator.photo.url }}" alt="author">
            <span class="detail__intro-posts">
                Posts
                <span class="detail__intro-count">{{ object.post_set.count }}</span>
            </span>
            <span class="detail__author">
                Creator
                <span class="detail__author-name">{{ object.creator }}</span>
            </span>
        </div>
    </div>

    <div class="posts">
        <h3 class="posts__header">My posts</h3>
        {% if object.post_set.count %}

        {% for post in object.post_set.all %}
        <!-- TODO add search bar and implement post searching -->

        {% if user.is_authenticated %}
        <article class="post">
            <div class="post__header">
                <img class="post__image" src="{{ post.image.url }}" alt="post header">
                <!-- TODO utils function for better date display -->
            </div>
            <h4 class="post__title">{{ post.title }}</h4>
            <span class="created">{{ post.published_date }}</span>
            <p class="post__intro">{{ post.intro }}</p>
            <a class="button" href="{% url 'post_detail' pk=post.pk %}">View more</a>
        </article>
        {% else %}

        {% if not post.auth_required %}
        <article class="post">
            <div class="post__header">
                <img class="post__image" src="{{ post.image.url }}" alt="post header">
            </div>
            <h4 class="post__title">{{ post.title }}</h4>
            <span class="created">{{ post.published_date }}</span>
            <p class="post__intro">{{ post.intro }}</p>
            <a class="button" href="{% url 'post_detail' pk=post.pk %}">View more</a>
        </article>
        {% endif %}

        {% endif %}

        {% endfor %}

        {% else %}

        <p class="info">Currently, there are no posts created yet</p>
        {% endif %}

        {% if user.username == object.creator.username %}
        <a class="button post__button" href="{% url 'post_new' pk=object.pk %}">New Post</a>
        {% endif %}
    </div>
</section>

{% endblock %}