{% extends '_base.html' %}

{% block title %} Comment List {% endblock %}

{% block content %}

<section class="comments">
    <h2 class="comments__header">There are {{ comment_list.count }} comments</h2>

    {% if comment_list.count %}

    {% for comment in comment_list %}

    <div class="comment">
        <img class="comment__avatar" src="{{ comment.author.photo.url }}" alt="comment author avatart">
        <div class="comment__content">
            <span class="comment__author">{{ comment.author.username }}</span>
            <span class="created comment__date">{{ comment.published_date }}</span>
            <p class="comment__text">{{ comment.text_content }}</p>
        </div>
    </div>

    <a class="button comments__button" href="{% url 'post_detail' pk=comment.post.pk %}">Go back</a>

    {% endfor %}

    {% else %}
    <p class="info">There are no comments yet, be first to comment!</p>
    {% endif %}
</section>

{% endblock %}