{% extends '_base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<section class="blogs">
    <h2 class="blogs__header">Check out our blogs</h2>

    {% if blog_list %}
    <div class="blog-list">
        {% for blog in blog_list %}
        <div class="blog">
            <h2 class="blog__title">{{ blog.title }}</h2>
            <div class="blog__text">
                <p class="blog__description">{{ blog.description }}</p>
                <a href="{% url 'blog_detail' pk=blog.pk %}" class="button">View</a>
                <span class="blog__author">created by: {{ blog.creator.username }}</span>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p class="info">There are currently no blogs started :(</>
    {% endif %}
    </section>
{% endblock %}