{% extends '_base.html' %}
{% load static %}

{% block title %} Post comments {% endblock %}

{% block content %}

<section class="comments">
    <h2 class="comments__header">There are {{ object.comments.count }} comments</h2>

    {% if object.comments.count %}

    {% for comment in object.comments.all %}

    <div class="comment">
        <img class="comment__avatar" src="{% static 'app/img/user.png' %}" alt="comment author">
        <div class="comment__content">
            <span class="comment__author">{{ comment.author.username }}</span>
            <span class="created comment__date">{{ comment.published_date }}</span>
            <p class="comment__text">{{ comment.text_content }}</p>
        </div>
    </div>

    {% endfor %}

    {% else %}
    <p class="info">There are no comments yet, be first to comment!</p>
    {% endif %}

    <div class="form-wrapper form-wrapper--comments">
        <h3 class="form__header form__header--comments">Leave a comment</h3>
        <form class="form" action="{% url 'post_comments' pk=object.pk %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Send</button>
        </form>
    </div>

    <a class="button comments__button" href="{% url 'post_detail' pk=object.pk %}">Go back</a>
</section>

{% endblock %}